body {
    text-align: center;
    margin-top: 60px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px #46a546 solid;
    width: 10px;
    height: 10px;
}

.alive {
    background-color: #46a546;
}

.dead {
    background-color: #ffffff;
}
